 .hero {
  background: url('../img/alley.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:510px;
  box-shadow: 0px 3px 8px #2a2a2a;
 }

 .booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding:10px;
}

.booyah-box h2, .booyah-box h1 {
  margin:10px;
}

.navbar {
	border-radius:0;
	font-family: "Helvetica Neue", Helvetica;
  	font-weight: 200;
  	box-shadow: 0px 1px 3px #2a2a2a;
  	background:url('dark_geometric.png');

}


.navbar-inverse {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  color:white;
 }

.navbar-brand {
	color: #F2DD63;
	font-family: 'capture_itregular', sans-serif;
  	font-size: 36px;
}

 h1, h2, h3, h4, h5, h6, .navbar {
  margin:0;
}

.frosty {
  background:rgba(0,0,0, 0.3);
  color:white;
}

.frosty h1 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  text-shadow: rgba(0,0,0,0.95) 1px 1px;
}

.frosty h2 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  text-shadow: rgba(0,0,0,0.95) 1px 1px;
}

.btn {
  border-radius:0;
  /* background:#1836AD; */
}

body {
	background: url('noisy.png');
	/* Trebuchet-based sans serif stack */
	font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

.clr{
	clear:both;
}

.field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding:8px;
  margin:10px;
}


.section {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
}

ul {
      list-style-type: none;
}

.section-li {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding:20px;
  margin:20px;
}

ul .header {
  font-size:25px;
}

ul .header .glyphicon {
  font-size:20px;
}

#footer {
  height: 100px;
  color: white;
  background-color: rgba(36,32,33,0.9);
  font-family: "Helvetica Neue",Helvetica;
  padding: 10px 0px;
  margin-top: 30px;
  font-weight: 100;
}



