	<p>Dear food-lovers<%= @email %>,</p>
	<p>It seems that someone request to reset the password. If it is you, please reset through the link below:</p>
	
	<!--this needs fixed--> 
	
	<p>If it is not you, you can just leave it alone, and your password won't be canged.</p>
	
	<p>Yours,</p>
	<p>Feiyu, Mengtian, Val, Tiancheng, and Wanxin</p>
	<p>- Your FoodTrek team</p>

